<style>
        body{
            background-color: #F5F5F5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container{
            background-color: #E9E9E9;
            margin: auto;

            width: 600px;

            box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            overflow: hidden;
        }

        .header{
            padding: 1.2rem;
        }
        
        .flex-container{
            display: flex;
            justify-content: space-around;
            color: #F5F5F5;
        }

        .header-title{
            color: #168DBB;
            font-size: 2rem;
            font-weight: 700;
        }

        .header-subtitle{
            color: #008787;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 1.35rem;
            font-weight: 600;
        }

        .assinatura{
            background-color: #006666;
            width: 50%;
            padding: 1rem
        }

        .beneficios{
            background-color: #008888;
            width: 50%;
            padding: 1rem;
        }

        .lin_assinatura{
            font-size: 1.25rem;
            text-align: center;
            padding: 1.25rem;
        }

        .preco{
            font-size: 1.62rem;
            font-weight: 700;
        }

        .mes{
            font-size: 0.93rem;
            font-style: italic;
            margin-left: 1rem;
        }

        .botao{
            margin-top: 1.25rem;

            width: 100%;
            padding: 1rem 2rem;

            color: #006A6A;

            font-size: 1rem;

            border-radius: 4px;
            border: none;

            background-color: #CCCCCC;
            
            cursor: pointer;
        }

        .botao:hover{
            background-color: #E9E9E9;
        }

        .beneficios-acesso{
            margin-left: 0.62rem;

            font-size: 1rem;

        }

        .image-group{
            text-align: center;
        }
        
        @media screen  and (max-width: 620px){
            html {
                font-size: 14px;
            }

            .flex-container{
                flex-direction: column;
            }

            .assinatura, .beneficios{
                width: 100%;
                box-sizing: border-box;
            }

            .container{
                width: 95%;
            }
        }
    </style>